body{
    background-image: url("https://koshka.top/uploads/posts/2021-11/1636773958_4-koshka-top-p-koshki-angliiskii-goluboi-kot-4.jpg");
    background-size: cover;
}
h2{
    color:white;
}
label{
    color:white;
}